/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #99af9d;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.title-header {
  margin-left: 10px;
}

.nav-bar {
  margin-right: 10px;
}

.nav-bar-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
  color: #000;
}

.content {
  padding: 10px;
}

.content-title {
  text-decoration: underline;
}

.content-body {
  font-size: 20px;
  font-family: sans-serif;
}
